<!-- Mileage summary card -->
<style>
    .card-small {
        border: 3px solid #444;
        margin-top: 0px;
        border-radius: 10px;
        /* width: 52%; */
        width: 100%;
        max-width: 416px;
        text-align: center;
        margin: auto;
        color: #222;
    }

    .card-small .title {
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 120%;
    }

    .card-small .wrapper {
        display: flex;
        justify-content: center;
    }

    .card-small .column {
        width: 25%;
        margin-bottom: -15px;
    }

    .card-small .column-title {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        width: 40%;
        margin-right: 0px;
        /* margin-left: 15px; */
    }

    .card-small .label {
        font-size: 14px;
        margin-bottom: 0px;
    }

    .card-small .value {
        font-size: 22px;
        margin-top: 0px;
    }

    @media (prefers-color-scheme: dark) {
        .card-small {
            border: 3px solid #ddd;
            color: #ddd;
        }
    }
</style>
<div class="card-small">
    <div class="wrapper">
        <div class="column-title">
            <h2 class="title">Total Mileage</h2>
        </div>
        <div class="column">
            <h2 class="label">Distance</h2>
            <p class="value">{{ .Get 0 }}</p>
        </div>
        <div class="column">
            <h2 class="label">Elev Gain</h2>
            <p class="value">{{ .Get 1 }}</p>
        </div>
    </div>
</div>
